html {
  height: 100%;
  min-height: 950px;
  margin: 0;
  padding: 2em;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  text-align: center;
  background-color: black;
  font-size: 150%;
  filter: invert();
}

#location, #URL, #weather{
  margin: 1.0em;
}

#weather {
  color: blue;
  font-weight: bold;
}

#image {
  width: 5em;
}

#image[src^="images/sun.png"] {
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}


@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

#image[src^="images/cloud.png"] {
  animation-name: fade;
  animation-duration: 1800ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes fade {
  0% {
      opacity: 1;
      transform: translateX(-10px);
  }
  50% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(-10px);
  }
}

footer {
  position: absolute;
  bottom: 3em;
  width: 100%;
  height: 60px;
  color: red;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#toggle {
  font-size: large;
}